#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 350px;
    height: 400px;

    background-color: rgba(34, 12, 114, 0.1);
    border-radius: 20px;

    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
}

/* Style for the title */
h1 {
    font-size: 24px;
    text-align: left;
}

/* Style for the buttons */
.button-container {
    display: flex;
}