.bubbles {
	margin-top: 25px;

	height: 60vh;
	width: 85%;

	overflow-y: scroll;
	overflow-wrap: break-word;

	display: flex;
	flex-direction: column-reverse;
}

.chat-area-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
}

.chat-area {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	background-color: rgba(34, 12, 114, 0.1);
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
    border-radius: 20px;


	height: 75vh;
	width: 50%;

	margin-top: 80px;
}

.chat-input {
	position: absolute;
	bottom: 0;


	padding-bottom: 10px;
}