.bubbles {	
	margin-bottom: 70px;
	height: 55vh;
	width: 85%;

	overflow-y: scroll;
	overflow-wrap: break-word;

	display: flex;
	flex-direction: column-reverse;

/*	border: 1px solid red;*/
}

.chat-area-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
}

.chat-area {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	background-color: rgba(34, 12, 114, 0.1);
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
    border-radius: 20px;

	height: 75vh;
	min-width: min(65%, 400px);

	margin-top: 80px;
}

.chat-input {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
}

.chat-input > * {
	font-size: 16px;
}

#prompt {
	margin: 0;
}

#send-button {
	scale: 0.75;
}

.rec-buttons {
	scale: 0.75;
}