<app-header></app-header>

<div class="chat-area-wrapper">
	<div class="chat-area">
		<div class="bubbles">
			@for (message of messages; track message) {
				<app-chat-bubble [messageStr]="message"></app-chat-bubble><br>
			}
		</div>

		<div class="chat-input">
			<button class="button-40 rec-buttons" *ngIf="!recording" (click)="startRecording()">> Rec</button>
			<button class="button-40 rec-buttons" *ngIf="recording" (click)="stopRecording()">> Stop</button>
			<input id="message-input" type="text" (keydown.enter)="onEnter($event)" [disabled]="processing">
			<button id="send-button" class="button-40">> Send</button>
		</div>
	</div>
</div>