/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;

    background-color: #320d43;
    opacity: 1;
    background-image: radial-gradient(circle at center center, rgb(12, 0, 120), #320d43), repeating-radial-gradient(circle at center center, #0c0078, #0c0078, 8px, transparent 64px, transparent 128px);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: monospace;
    color: white;
}

header, footer {
    width: 100%;
    height: 50px;

    background-color: rgba(34, 12, 114, 0.1);

    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}